body {
    background-color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
}
.header {

    background-image: url(../images/now.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1%;
    color: #ffffff;
}

#search-box {
    padding: 20px 15px;
    font-size: 1.5em;
    color: #333;
    margin: 10px 0%;
    background-color: rgba(.1, .1, .1, .1);
}

#search-button {

    font-size: 1.5em;
    margin: 10px 0%;
    background-color: rgb(73, 138, 243);
    width: 100%;
}

#logo {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%
}

.item-description {
    font-size: 1.4vmin;

}

.news-item {
    margin-top: 0px;
    padding: 0px 0px;
}

.news-item a{
  color: #000000;
}

h5 {
    font-size: 2.2vmin;
}

#rss-title {
    font-size: 2.6vmin;
}

#rss-content {
    margin-top: 20px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
}

#settings-button {
    background-color: rgba(255, 255, 255, 0);
    border:none;
    color: rgba(0, 0, 0, .3);
}