body {
    background-color: rgb(248, 246, 246);
    font-family: 'Roboto', sans-serif;
}

.dark-mode {
    background-color: rgb(40, 43, 51);
}

.dark-mode hr {
    border-top: 1px solid #3a3838;
}

.header {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 1%;
    color: #ffffff;
}

.most-visited-site {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.search-box-common {
    background-color: rgba(35, 35, 35, 0.48);
    padding: 20px 15px;

    color: #fff;
    margin: 10px 0%;
}

.search-box-common::-webkit-input-placeholder {  color: rgba(255, 255, 255, 0.58); }
.search-box-common:-moz-placeholder {  color: rgba(255, 255, 255, 0.58);  }
.search-box-common::-moz-placeholder {  color: rgba(255, 255, 255, 0.58);  }
.search-box-common:-ms-input-placeholder {  color: rgba(255, 255, 255, 0.58);  }

@media (min-width: 0px) {
    #search-box {
        font-size: 1em;
    }
    #search-button {
        font-size: 1.2em;
        margin: 10px 0%;
        background-color: rgb(73, 138, 243);
        width: 100%;
    }
}

@media (min-width: 992px) {
    #search-box {
        font-size: 1.5em;
    }
    #search-button {
        font-size: 1.5em;
        margin: 10px 0%;
        background-color: rgb(73, 138, 243);
        width: 100%;
    }
}

#logo {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%
}

.dark-mode .panel-default {
    background-color: #3a414a;
    border-color: #3a414a;
}

.dark-mode .panel-default a {
    color: #959ba0;
}

@media (min-width: 0px) {
    .item-description {
        font-size: 10px;
    }
}

@media (min-width: 992px) {
    .item-description {
        font-size: 12px;
    }
}

.dark-mode .item-description {
    color: #959ba0;
}

.news-item {
    margin-top: 0px;
    padding: 0px 0px;
}

.news-item a{
  color: #333;
}

.dark-mode .news-item a {
    color: #e7e9ea;
}

@media (min-width: 0px) {
    #rss-title {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    #rss-title {
        font-size: 20px;
    }
}

.dark-mode #rss-title {
    color: #e7e9ea;
}

#rss-content {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dark-mode #rss-content {
    background-color: #3a414a;
}

#settings-button {
    background-color: rgba(255, 255, 255, 0);
    border:none;
    color: rgba(0, 0, 0, .3);
    padding-top: 10px;
}

.dark-mode #settings-button {
    color: rgba(255, 255, 255, .3);
}